p{
    color: brown;
 }  
a{
    color: black;

}
label{
    color: blue;
}
.age{
    color: chocolate;
}
/* p{
  color: chartreuse;  
} */

form{
    background-color: purple;
    width: 60%;
}
.input1{
    width: 50%;
}
.age{
    width: 2%;
}
.img1{
    width: 50%;
}

p{
    color: rgb(51, 219, 51);
    background-color: ;

}

h1{
    color: blue;
    background-color: brown;
}

h1{
    color: blue;
}
p{
    
}

    
